.log-item {
    padding: 4px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.log-item:nth-child(even) {
    background-color: #c5c5c5;
}

.log-item:nth-child(odd) {
    background-color: #eaeaea;
}

.log-item-changes,
.log-item-date,
.log-item-responsable {
    margin: 0;
}

.log-item-changes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    list-style-type: square;
}

.log-item-date {
    min-width: 180px;
    text-align: center;
}

.log-item-responsable {
    min-width: 400px;
}

.log-item-reason {
    min-width: 300px;
}

.span-log-changes-view {
    border: 1px solid #333333;
    cursor: help;
    margin: 0 15px;
    padding: 0 5px;
    border-radius: 4px;
}

.span-log-changes-view:hover {
    color: #3333335f;
    border: 1px solid #3333335f;
}
