.form-status-filter {
    display: flex;
    gap: 20px;
    padding: 15px 10px;
    align-items: center;
    border-bottom: 1px solid #204e81
}

.form-status-filter .checkbox-label {
    cursor: pointer;
}
