* {
    scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.user-item-list {
    border: 1px solid;
    margin-bottom: 5px;
    padding: 10px 0;
}

.border-red {
    border: 1px solid red;
}

.no-resize {
    resize: none;
}

.container-fluid {
    padding: 0 25px;
}

strong {
    font-weight: 700;
}

.cnpj-span-warning {
    display: none;
    color: #a94442;
}

.bg-product-color {
    background-color: var(--product-color);
}

.bg-service-color {
    background-color: var(--service-color);
}

.bg-contract-color {
    background-color: var(--contract-color);
}

.text-product-color {
    color: var(--product-color);
}

.text-service-color {
    color: var(--service-color);
}

.text-contract-color {
    color: var(--contract-color);
}

.border-product {
    border: 2px solid var(--product-color);
}

.border-service {
    border: 2px solid var(--service-color);
}

.border-contract {
    border: 2px solid var(--contract-color);
}

.page-title {
    font-size: 32px;
    line-height: 39px;
    color: var(--black-color);
    font-weight: bold;
    margin: 0;
}
