.request-details {
    border: 5px solid #35363a;
    padding: 50px;
}

.request-details-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.request-details-header-logo {
    width: 120px;
    position: absolute;
    left: 0;
}

.box-title .request-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    letter-spacing: 7px;
    max-width: 840px;
    margin: 20px auto 10px;
    color: #333;
    text-transform: uppercase;
}

.request-details-content {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(221, 221, 221);
}

.request-details-content-box {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
}

.request-details-content-box-apportionment {
    padding: 10px;
    border: 1px solid rgb(174, 174, 174);
}

.request-details-content-box-apportionment .row {
    border-bottom: 1px solid rgb(174, 174, 174);
    margin: 0 1px;
}

.request-details-content-box-apportionment .row div {
    padding: 10px 15px;
}

.request-details-content-box p,
.request-details-content-box span {
    font-size: 16px;
    word-break: break-all;
}

.request-details-content-box-contract,
.request-details-content-box-service,
.request-details-content-box-product {
    border: 1px solid rgb(174, 174, 174);
}

.request-details-content-box-contract-installment,
.request-details-content-box-service-installment,
.request-details-content-box-product-installment {
    padding: 10px 5px;
}

.request-details-content-box-contract-installment:nth-child(even),
.request-details-content-box-service-installment:nth-child(even),
.request-details-content-box-product-installment:nth-child(even) {
    background-color: #c5c5c5;
}

.request-details-content-box-contract-installment:nth-child(odd),
.request-details-content-box-service-installment:nth-child(odd),
.request-details-content-box-product-installment:nth-child(odd) {
    background-color: #eaeaea;
}

.request-supplier-group {
    border: 1px solid rgb(221, 221, 221);
}

.request-details-content-box-supplier {
    padding: 0 20px;
}

.request-details-content-box-products {
    padding: 0 20px;
}

.request-details-content-box-products-product {
    flex-grow: 1;
    padding: 10px;
}

.zebra-bg-even {
    background-color: #c5c5c5;
}

.zebra-bg-odd {
    background-color: #eaeaea;
}
