@keyframes showSoft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-to-right {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes shadow-soft {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.500);
    }
}

#navigation button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 15px;
}

#navigation button:hover {
    background-color: var(--gold-secondary-color);
    color: #000000;
}

#active-menu-shadow {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.500);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    animation: shadow-soft .5s linear;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--grey-primary-color);
    z-index: 3;
    padding: 0 15px;
    min-height: 80px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

#menu-hambuguer-icon-closer {
    display: none;
    margin-left: 15px;
}

#menu-hambuguer-icon,
#menu-hambuguer-icon-closer {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

#menu-hambuguer-icon>svg,
#menu-hambuguer-icon-closer>svg {
    color: #ffffff;
    height: 25px;
    animation: showSoft .3s linear;
}

#menu-hambuguer-icon:hover,
#menu-hambuguer-icon-closer:hover {
    background-color: var(--gold-secondary-color);
}

.main-nav,
.user {
    display: none;
}

#navigation .user {
    border-radius: 5px;
}

.main-nav {
    transition: width 2s ease;
}

.main-nav.open {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 50vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background: linear-gradient(to bottom, #333333, #575757);
    z-index: 3;
    animation: slide-to-right .3s ease;
}

#navigation .main-nav>li {
    position: relative;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

#navigation .main-nav>li>a {
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    color: #ffffff;
}

#navigation .main-nav>li>a:hover {
    text-decoration: none;
    background-color: var(--gold-secondary-color);
}

#navigation .dropdown-menu>li>a:hover {
    background-color: var(--gold-secondary-color);
    color: #000000;
    filter: none;
}

#navigation .user .dropdown.open {
    background-color: var(--gold-primary-color);
    border-radius: 5px;
}

#navigation .user .dropdown>a:hover {
    background: var(--gold-secondary-color);
}

#navigation .user .dropdown>a {
    display: block;
    color: #ffffff;
    padding: 7px 12px 6px 12px;
    text-decoration: none;
    border-radius: 5px;
}

#navigation .user .icon-nav,
#navigation .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    background-color: #ffffff;
    margin-left: 10px;
}

.dropdown-menu>li>a {
    padding: 6px 15px;
    font-size: 13px;
    filter: none;
    text-decoration: none;
    color: #000000;
    display: block;
}

#navigation #brand {
    margin-top: 3px;
    width: 120px;
    height: 30px;
    background-image: url("../../public/img/gecom/logo-navbar.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    #navigation {
        padding: 0 20px;
    }

    .main-nav.open {
        max-width: 30vw;
    }
}

@media (min-width: 1024px) {
    #navigation {
        flex-direction: row-reverse;
    }

    #menu-hambuguer-icon,
    #menu-hambuguer-icon-closer {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    .user {
        display: block;
    }
}
