.report-filters {
    display: flex;
    flex-direction: column;
}

.report-filters .label-with-clear-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.report-filters .dates {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.report-filters .dates .date {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report-filters .types,
.report-filters .status {
    display: flex;
    column-gap: 20px;
    padding: 5px 0;
    align-items: center;
    flex-wrap: wrap;
}

.report-filters .checkbox-label {
    cursor: pointer;
}

@keyframes slide-in-from-right {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.product-td>td:first-child {
    padding: 0 0 20px 0;
}

.product-detail-container {
    box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, 0.75);
    border-left: 5px solid var(--product-color);
    background-color: #ffffff;
    z-index: 1;
    margin-left: 10px;

    animation: slide-in-from-right .5s ease;
    animation-fill-mode: both;
}

#reportsTable_length,
#reportsTable_filter {
    float: none;
    margin: 10px 0;
}

@media (min-width: 768px) {
    #reportsTable_length {
        float: left;
    }

    #reportsTable_filter {
        float: right;
    }

    .report-filters .dates-with-checkboxs {
        display: flex;
        gap: 20px;
    }

    .report-filters .dates {
        flex-direction: column;
        max-width: 180px;
        justify-content: space-between;
    }

    .report-filters .status {
        padding: 0;
    }

    .report-filters .types {
        padding-bottom: 0;
        padding-top: 5px;
    }

}

@media (min-width: 1024px) {
    .report-filters .selects {
        display: flex;
        gap: 15px;
    }

    .report-filters .selects .form-group {
        width: 100%;
    }

    .report-filters .status {
        row-gap: 0;
    }

    .report-filters .dates {
        row-gap: 20px;
    }

    .report-filters .types {
        padding: 0;
    }


    .report-filters .checkboxs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width: 1200px) {
        .report-filters .dates {
            row-gap: 15px;
        }

        .report-filters .selects {
            max-width: 1400px;
        }
    }
}
